@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

:root {
  --hue-primary:213;
  --hue-secondary:220;
  --hue-bg:0;
  --bg: hsl(var(--hue-bg),0%,100%);
  --primary:    hsl(var(--hue-primary),97%,39%);
  --primary-l:  hsl(var(--hue-primary),97%,89%);
  --text-d:     hsl(var(var(--hue-primary)),100%,17%);
}

body {
  color: var(--text-d);
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
